/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
  background-image: url('https://i.pinimg.com/736x/48/33/a1/4833a159996e2d0e982dfa3d6fbf7c0a.jpg');
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #0fb9b1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

header > h1 {
  font-size: larger;
  margin-inline-start: 20px;
}

.add-a-recipe {
  border-radius: 5px;
  border-style: hidden;
  height: 30px;
  margin-right: 20px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
}

.buttons-form {
  background-color: rgba(225, 225, 225, .9);
  height: 300px;
  width: 350px;
  padding: 50px;
}

h2 span {
  color: #ee5253;
}

input[type="radio"] {
  margin: 0 10px 20px 10px;
}

.lets-cook {
  background-color: #0fb9b1;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border-style: hidden;
}

.stockpot-box {
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 350px;
  padding: 50px;
}

.stockpot-img {
  width: 150px;
}

h3 {
  font-style: italic;
  text-align: center;
}

p {
  font-size: x-large;
  text-align: center;
}

footer {
  background-color: rgba(225, 225, 225, .9);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.type-and-name-blanks {
  display: flex;
  justify-content: space-evenly;
}

.hidden {
  display: none!important;
}
